p,li,button{
	font-family: 'Quicksand', sans-serif;
	border-radius: 0rem !important;
}
@media only screen and (max-width:660px){
p{
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}
}
.carousel-indicators li {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50%;
}
.carousel-control-prev,.carousel-control-next{
	z-index: 999;
}
.slider-head{
	font-size: 6vw;
}
.slider-content{
	font-size: 2vw;
}
@media only screen and (max-width:660px){
.slider-content{
	font-size: 3vw;
}
}
@media only screen and (max-width:560px){
.slider-head{
font-weight: 400;}
}
@media only screen and (max-width:660px){
.carousel-one .img-fluid {
min-width:650px !important;
}
}
.slider-text{
	position: absolute;
	top: 60px;
	width:100%;
}
@media only screen and (max-width: 1000px){
	.slider-text{
	position: absolute;
top: 80px;
width:100%;
	}
}
@media only screen and (max-width: 800px){
	.slider-text{
	position: absolute;
top: 60px;
width:100%;
	}
}
@media only screen and (max-width: 450px){
	.slider-text{
	position: absolute;
top: 70px;
width:100%;
	}
}
.top-slider{
	position: relative;
	overflow: hidden;
	width: 100%;
}
.top-ttl{
font-size: 13px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.img-gal{
  background: cover;
  background-position: center center;
	overflow: hidden;
	  background-repeat: no-repeat;
}

@media only screen and (max-width: 760px){
.one-image{
	height: 195px;
}
}
@media only screen and (min-width: 760px){
.bg-inspired{
background: rgba(138, 224, 255, 0.63);
	}
}
@media only screen and (max-width: 760px){
.near-store{
display: none;}
}

.bg-other{
background: rgba(138, 224, 255, 0.63);
	}

.bg-color{
background: rgba(138, 224, 255, 0.63);}
.bg-colorli{
background: rgba(138, 224, 255, 0.20);}
.quote{
	font-size: 25px;
	font-weight: 500;
}
.quote1{
	font-size: 19px;
	font-weight: 500;
}
@media only screen and (max-width: 760px){
.quote1{
	font-size: 14px;
	font-weight: 500;
}
}
@media only screen and (max-width: 760px){
.blog-content{
	overflow: hidden;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
}
}
.quote-con{
	font-size: 20px;
	}
nav .navbar {
	z-index: 999;
}
@media only screen and (max-width: 460px){
.connect{
	font-size: 20px;
}
}
.connect{
	background: rgba(0, 157, 255, 0.88);
}
@media only screen and (min-width: 990px){
.fullshow{
	display: block !important;
}
}
.footer-links a{
	color:black;
	text-decoration: underline;
	font-size: 12px;
}
.footer-links a:hover{
	color:black;
}
.foot-head
{
	font-size: 14px;
	font-weight: 900;
	color: #221f1f !important;
}
.foot-head
{
	color: #221f1f !important;
}
.fullshow p
{
	padding: 0px;
	margin: 3px;
}
ul{
margin: 0;	
padding: 0;	
}
.foot-social
{
	font-size: 30px;
}
.circle-icon {
	font-size: 24px !important;
    width: 50px;
    height: 50px;
    border: 2px solid;
	border-radius: 50%;
	padding: 10px
}
@media only screen and (max-width: 590px){
.circle-icon {
	font-size: 17px !important;
    width: 38px;
    height: 38px;
    border: 2px solid;
	border-radius: 50%;
	padding: 9px;
}
}
button:focus{
	outline: 0;
}