.underline
{
	    border-bottom: 5px solid rgb(215, 219, 222);
}
.footer-link{
	text-decoration: none;
}
.footer-link:hover{
	text-decoration: none;
}
.post-content p {
	line-height: 2 !important;
}
.blog-heading{
font-size:28px !important;
}
@media only screen and (max-width:280px){
.blog-heading,.blog-article{
font-size:15px !important;
}
}
	
	.nav-link:hover {
	border-top: 0px;
	border-color: white !important;
}